*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container{
    background-color: rgb(33, 41, 54);
    min-height: 800px;
    width: 85%;
    color: white;
    margin: 0 auto;
}


.header-nav-container{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    flex-wrap: wrap;
}

.header-logo{
    font-size: 32px;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 16px;
}
.header-hero-container{
    min-height: 725px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.header-hero-container .hero-text{
    width: 750px;
    font-size: 48px;
    font-weight: 900;
}
.hero-subtext{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.header-btn{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: #3882F6;
    border-radius: 20%;
    color: darkblue;
}



.header-img{
    display: flex;
}

.header-img img {
    flex-shrink: 1;
    height: 400px;
    width: 600px;
    padding: 10px;
}